@model DFI_Project.Models.User
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>User Information</h4>
    <hr />
    <dl class="d1-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserUsername)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserUsername)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserEmail)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserPassword)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserHometown)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserHometown)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserBirthDate)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserBirthDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserTwitter)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserTwitter)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserInstagram)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.UserInstagram)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index"></a>

    </form>
</div>

