@model IEnumerable<DFI_Project.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create</a>
</p>

@*For Display User Info*@
<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserHometown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTwitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInstagram)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => emp.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserHometown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserTwitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => emp.UserInstagram)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@emp.UserID">Edit</a>
                <a asp-action="Details" asp-route-id="@emp.UserID">Details</a>
                <a asp-action="Delete" asp-route-id="@emp.UserID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>